.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.InfoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: #CC1034;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.infoBox__cases--green {
    color:#7dd71d !important;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .infoBox {
        height: 100px;
    }

    .infoBox__container > h2 {
        font-size: medium;
    }

    .infoBox__container .MuiCardContent-root {
        font-size: medium;
        margin-top: 0 !important;
        font-size: 8px !important;
        margin-right: 8px !important;
        display: flex;
        flex-direction: column;
    }

    .infoBox__container .infoBox__total {
        margin-top: 0 !important;
        font-size: 8px !important;
    }

    .InfoBox--selected {
        border-top: 5px solid greenyellow;
    }

    .infoBox--red {
        border-color: #CC1034;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .infoBox {
        height: 85px;
    }

    .infoBox__container .MuiCardContent-root {
        font-size: medium;
        margin-top: 0 !important;
        font-size: 8px !important;
        margin-right: 8px !important;
    }


    .InfoBox--selected {
        border-top: 5px solid greenyellow;
    }

    .infoBox--red {
        border-color: #CC1034;
    }
}